*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --rojo:#E50914;
    --gris:#303030;
}
body{
    background: var(--gris);
}
.header{
    height: 90px;
    background: black;
}
.container{
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo span{
    color: var(--rojo);
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.menu a{
    color: #AAA;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: 'Open Sans', sans-serif;
}
header nav a:hover{
    color: white;
}
.img-section{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgb(0,0,0,0.5)0%, rgb(0,0,0, 0.5)100% ), url(../images/img-dark.jpg);
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items:flex-end ;
}
main .container{
    margin: 0 70px;
    margin-bottom: 100px;
}
.textos-img h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.textos-img p{    
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    max-width: 90%;
    margin-bottom: 20px;
}
.buttons-img button{
    color: #AAA;
    background: rgb(0,0,0,0.5);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s ease all;
}
.buttons-img button i{
    margin-right: 20px;
}
.buttons-img button:hover{
    color: black;
    background: white;
}
    /* carousel */
/* arrows and tittle start*/
.recommended-tittle{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}
.movies-carousel .recommended-movies{
    display: flex;
    align-items: center;
    position: relative;
}
.movies-carousel .recommended-movies .button-left,
.movies-carousel .recommended-movies .button-right{
    position: absolute;
    border: none;
    height: 100%;
    width: 50px;
    background: rgb(0, 0, 0,0.3);
    font-size: 50px;
    color: #AAA;
    top: auto;
    line-height: 50px;
    cursor: pointer;
    z-index: 500;
}
.recommended-movies .button-left{
    left: 0;
}
.recommended-movies .button-right{
    right: 0;
}
.recommended-movies .button-left:hover,
.recommended-movies .button-right:hover{
    background: rgb(0,0,0,0.8);
    color: white;
}

/* arrows and tittle end */
/* imagenes del carousel */

.carousel-movies{
    width: 100%;
    overflow: hidden;
    /* overflow-x: scroll; */
    scroll-behavior: smooth;
}
.carousel-movies .carousel{
    display: flex;
}
.carousel-movies .carousel .movie{
    overflow: visible;

    min-width: 20%; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.carousel-movies .carousel .movie img{
    width: 100%;
    vertical-align: top;
}
.carousel-movies .carousel .movie img:hover{
    transition: 0.3s ease all;
    transform:scale(1.2);
    transform-origin: center;
    
}



        /* Responsive */
@media screen and (max-width: 414px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header{
        height: 120px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        /* padding: 10px; */
    }
    .menu a{
        margin-left: 0;
        margin-right: 10px;
    }
    /* --------------- */
    .img-section{
        min-height: 450px;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items:flex-end ;
    }
    main .container{
        margin: 0 10px;
        margin-bottom: 50px;
    }
    .textos-img h2{
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .textos-img p{    
        font-size: 14px;
        line-height: 18px;
        max-width: 95%;
        margin-bottom: 20px;
    }
    .buttons-img button{
        padding: 10px 10px;
        margin-right: 20px;
        font-size: 15px;
        cursor: pointer;
        transition: .3s ease all;
    }
    /* ------------- */
    .carousel-movies .carousel .movie{
        min-width: 33%; 
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .movies-carousel .recommended-movies .button-left,
    .movies-carousel .recommended-movies .button-right{
    height: 100%;
    width: 35px;
    background: rgb(0, 0, 0,0.3);
    font-size: 30px;
    color: #AAA;
    top: auto;
    line-height: 50px;
    }
}


